<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body style="background-color:white;">
<button><a href="/hotels">Add Hotel</a><button>
    <table border="10x">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Name</th>
                <th>HotelType</th>
                <th>Email</th>
                <th>Mobile</th>
                <td>Action</td>
                <td>Action</td>
            </tr>

        </thead>
        <tbody>
            <tr th:each="hotel:${hotels}">

                <td th:text="${hotel.getId}"></td>
                <td th:text="${hotel.code}"></td>
                <td th:text="${hotel.name}"></td>
                <td th:text="${hotel.hotelType}"></td>
                <td th:text="${hotel.email}"></td>
                <td th:text="${hotel.mobile}"></td>

                <td>
                    <button>
                        <a th:href="@{/hotels/{id} (id=${hotel.id})}">Edit</a>
                    </button>
                </td>

                <td>
                    <button>
                        <a th:href="@{/hotels/delete/{id}(id=${hotel.id})}">delete</a>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>